<div class="htmlContainer">
  <div class="container-fluid header">
      <div class="row">
          <div class="col-lg-6">
              <h2>{{title}}</h2>
          </div>
          <div class="col-lg-6">
          <a class="gitLink" href="https://github.com/RavishBhat/dueDateGenerator" target="_blank"><i class="fa fa-github gitIcon"></i></a>  
        </div>
  
      </div>
  </div>
<div class="container positionTop p-0">
  <button type="button" class="btn btn-outline-primary floatButton" (click)="holidaysModal.show()">Weekly off & Holiday</button>
  <tabset #staticTabs>
    <tab heading="Daily">
      <app-form-container-component [frequencyType]="1"></app-form-container-component>
    </tab>
    <tab heading="Weekly">
      <app-form-container-component [frequencyType]="2"></app-form-container-component>
    </tab>
    <tab heading="Monthly">
      <app-form-container-component [frequencyType]="3"></app-form-container-component>
    </tab>
    <tab heading="Yearly">
      <app-form-container-component [frequencyType]="4"></app-form-container-component>
    </tab>
    <tab heading="One Time">
      <app-form-container-component [frequencyType]="5"></app-form-container-component>
    </tab>
  </tabset>
</div>


<div class="modal fade" bsModal #holidaysModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-static-name" class="modal-title pull-left">Manage weekly off & Holidays</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="holidaysModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="card">             
              <div class="card-body">
                <h4>Weekly Off</h4>   
                <ng-container *ngFor="let item of weekDaysList">
                  <label class="checkContainer">{{item.day}}
                    <input type="checkbox" checked="checked" [(ngModel)]="item.selected" (click)="checkWeekDays($event,item)">
                    <span class="checkmark"></span>
                  </label>
                </ng-container>            
              </div>
            </div>
          </div>
          <div class="col-lg-8">           
            <div class="card">             
              <div class="card-body">
                <h4>Holidays</h4>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label for="">Holiday Name</label>
                      <input type="text"
                        class="form-control" placeholder="Holiday Name" [(ngModel)]="holidayName">
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label>Date</label>
                      <div class="input-group">
                          <span class="input-group-btn">
                              <button class="btn formButton" type="button" (click)="holidayPicker.toggle()"><i
                                      class="fa fa-calendar" aria-hidden="true"></i></button>
                          </span>
                          <input type="text" #holidayPicker="bsDatepicker" placement="bottom" class="form-control"
                              placeholder="" bsDatepicker [bsConfig]="bsDatepickerConfig"
                              [(ngModel)]="holidayDate">
                            <button type="button" class="btn btn-outline-primary ml-1"
                            [disabled]="holidayName=='' ||  holidayDate == null " (click)="addHoliday()">ADD</button>
                      </div>
                  </div>
                  </div>
                </div>            
                <table class="table table-striped table-inverse">
                  <thead class="thead-inverse">
                    <tr>
                      <th>Name</th>
                      <th>Date</th>
                      <th></th>
                    </tr>
                    </thead>
                  </table>
                  <div class="scrollableTable">
                    <table class="table table-striped table-inverse">
                    <tbody>
                      <tr *ngFor="let item of holidayList">
                        <td scope="row">{{item.name}}</td>
                        <td>{{item.date | date: 'dd-MMM-yyyy'}}</td>
                        <td>                          
                          <i class="fa fa-remove iconCls" (click)="removeHoliday(item.id)"></i></td>
                      </tr>                     
                    </tbody>
                </table>    
              </div>      
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" (click)="closePopup()">CLOSE</button>
      </div>
    </div>
  </div>
</div>